* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    color: white;
}

body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    height: 100%;
}

#temp {
    font-size: clamp(30px, 5vw, 120px);
}

.main-content {
    width: 70%;
    min-height: 80vh;
    margin: auto;
    margin-top: 5%;

    display: flex;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}

.left-side {
    background-image: url(weather-app-img/images/balloons.webp);
    width: 70%;
    min-height: 80vh;
    align-items: flex-end;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 3em;
}

.right-side {
    background: rgba(255,255,255,0.5);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 30%;
    color: gray;
    text-align: center;

}

.weather-details {
    display: flex;
    flex-direction: column;
}

.weather-details h5 {
    margin-bottom: 2em;
}

.choose-weather-address p {
    margin-bottom: 1em;
}
.flex-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    align-items: center;
}

.flex-row button {
    font-size: 16px;
    padding: 0.5em;
    border-radius: 10px;
    cursor: pointer;
}
#weather-icon {
    height: 50px;
}

#search-city {
    border-radius: 15px;
    padding: 2px;
    font-size: 16px;
    text-align: center;
    height: 40px;
}
#search-icon {
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.description-icon {
    height: 40px;
    width: 40px;
    background-color: gray;
    padding: 0.2em
}

#error {
    display: none;
    font-size: 12px;
}

@media screen and (max-width: 1350px){
    .main-content {
        min-width: 90%;
    }
}

@media screen and (max-width: 950px){
    .main-content {
        flex-direction: column;
        max-height: 100vh;
    }

    .left-side {
        width: 100%;
        min-height: 40vh;
    }

    .right-side {
        width: 100%;
    }

    .flex-row {
        justify-content: center;
        gap: 1em;
    }
}