* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins' sans-serif;
}

.weather {
    background-color: aquamarine;
    width: 200px;
    margin: auto;
}

#search-city {
    background-color: aqua;
}